:root{
	--blue-color: #388AF7;
	--title-color:  #313131;
	--gren-color: rgba(49, 183, 189, 1);
}
*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
/*--------------- header ------------*/
header{
	/*border: 1px solid;*/
}
nav{
	max-width: 1120px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.8rem;
}
.navbar-brand{
	width: 20%;
}
.navbar-brand img{
	min-width: 200px;
	width: 100%;
}
nav ul{
	display: flex;
	justify-content: space-between;
}
ul > li{
	list-style-type: none;
}
li > a{
	text-decoration: none;
	display: inline-block;
	color: var(--title-color);
	font-weight: 600;
	padding: 0.8rem 1rem;
	font-size: 0.85rem;
}
.nav__link{
	color: white;
	background: linear-gradient( rgba(56, 138, 247, 1), rgba(46, 103, 176, 1));
	border-radius: 10px;
	margin-left: 1rem;
	padding: 0.8rem 1.5rem;
}

/*------------------- Jumbotron ---------------------*/
.container{
	max-width: 1120px;
	margin: auto;
	padding: 4rem 0.8rem;
}
.jumbo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*----------- Jumbo-left --------*/
.jumbo__left{
	max-width: 40%;
	padding-right: 1rem;
}
.jumbo__left h1{
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 4.5rem;
	color: var(--title-color);
}
.jumbo__left p{
	font-size: 0.9rem;
	line-height: 1.8rem;
	color: rgba(49, 49, 49, 0.8);
	font-weight: 500;
	font-size: 1rem;
	margin-top: 1rem;
}
.jumbo__links{
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
}
.jumbo__links a{
	text-decoration: none;
	padding: 1rem 1.5rem;
	font-weight: 600;
	color: rgba(49, 183, 189, 1);
	font-size: 0.8rem;
}
.jumbo__links a:first-child{
	background-color: rgba(49, 183, 189, 0.1);
	border-radius: 5px;
}
/*----------- Jumbo-right --------*/
.jumbo__right img{
	max-width: 100%;
}


/*
	@media queries
*/
@media(max-width: 1050px){
	.jumbo__left{
		max-width: 50%;
	}
	.jumbo__left h1{
		font-size: 2.5rem;
		line-height: 3rem;
	}
	.jumbo__left p{
		font-size: 0.8rem;
	}
}

@media(max-width: 741px){
	nav ul{ display: none; }
	.jumbo{
		flex-direction: column;
	}
	.jumbo__left{
		max-width: 100%;
		padding: 0;
		text-align: center;
	}
	.jumbo__links{
		justify-content: center;
		margin-bottom: 1.5rem;
	}
	.jumbo__left h1{
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

/*------------------ Services ----------------*/
.services{
	background-color: rgba(56, 138, 247, 0.1);
	position: relative;
}
.dots{
	text-align: center;
	margin-top: -5rem;
	margin-bottom: 2rem;
}
.services p, .services h2{
	text-align: center;
}
.services p{
	color: rgba(46, 103, 176, 1);
	font-weight: 600;
}
.services h2{
	font-size: 2rem;
	font-weight: 700;
	color: var(--title-color);
	max-width: 700px;
	width: 100%;
	margin: 0.5rem auto;
}
@media (max-width: 700px){
	.services h2{
		font-size: 1.3rem;
	}
}
.card-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 2rem;
}
.card{
	text-align: center;
	padding: 1rem;
	min-width: 20%;
}
.card-title{
	color: #094998;
}
@media (max-width: 768px){
	.card-container{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.card-title{
		font-size: 0.8rem;
	}
}